/*Contents
    Note : Data in the [] represents a class
    [profile]
    -------------------------
    |           |           |
    |   [jsk]   |   [data]  |
    |   IMAGE   |   Name    |
    |           |   Details |
    |___________|___________|
    |                       |
    |     [Description]     |
    |      Description      |
    |                       |
    |_______________________|
    */
    .lee
    {
        height: 170%;
        width: 100%;
        margin-top: 5%;
    }
    .profile
    {
        display: inline-block;
        margin-right: 8%;
        margin-left: 8%;
        width: 44%;
        margin-top: 5%;
        height: 22.25rem;
        width: 30rem;
        box-shadow: -0.025vw -0.025vw 0.1vw 0.1vw gray;
        transition: all 0.5s ease-in-out;
        -webkit-filter: grayscale(80%);
        filter: grayscale(80%);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .profile:hover
    {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        box-shadow: 0.5vw 0.5vw rgb(111, 104, 104);
        transform: translate(-0.5rem, -1rem);
    }
    .profile .jsk
    {
        width: 12.5rem;
        height: 10rem;
        transition: all 0.5s ease-in-out;
    }
    .profile .jsk:hover
    {
        width: 14rem;
        height: 12rem;
        transition: all 0.5s ease-in-out;
    }
    .profile .imageblock
    {
        width: 49%;
        display: inline-block;
        border-right: 1px solid grey;
    }
    .profile .data
    {
        height: 9rem;
        width: 15rem;
        display: inline-block; 
        width: 48%;
    }
    .profile .data span
    {
        font-weight: 400;
        font-size: 1.25vw;
        color: silver;
    }
    .profile .description
    {
        width: 100%;
        border-top: 1px solid grey;
    }
@media only screen and (max-width: 400px)
{
    .lee
    {
        height: auto;
        margin-bottom: 20%;    
    }
    .lee h1
    {
        font-size: 3vw;
    }
    .intro h1
    {
        font-size: 3.5vw;
    }
    .profile
    {
        margin-right: 3%;
        margin-left: 3%;
        width: 40%;
        height: 20%;
        font-size: 3vw;
    }
    .profile span label
    {
        font-size: 1.5vw;
    }
    .profile .jsk
    {
        width: 80%;
        height: 40%;
    }
    .profile .jsk:hover
    {
        width: 85%;
        height: 45%;
    }
    .profile .imageblock
    {
        width: 48%;
    }
    .profile .data
    {
        height: 40%;
        width: 48%;
        font-size: 1.7vw;
    }
}